* {
    box-sizing: border-box;
}

:root{
    --lightblue: rgb(182, 235, 255);
}

@font-face {
    font-family: Lato;
    src: url(./fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-bold;
    src: url(./fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: ostrick-sans-black;
    src: url(./fonts/ostrich-sans/ostrich-black.ttf);
}

h1 {
    font-family: ostrick-sans-black;
    text-align: center;
    background-color: white;
    border-radius: 1em;

    padding: 0.7em 1em;
    
    margin-right: 2.4em;
    margin-left: 2.4em;
}

h2, h3, h4{
    font-family: ostrick-sans-black;
}

p, details li, label{
    max-width: 150ch;
    font-family: Lato;
}

summary, legend{
    font-family: Lato-bold;
}

body {
    background-color: white;
    background-image: linear-gradient(var(--lightblue), white);
    background-repeat: no-repeat;
    
}

main {
    background-color: white;
    border-radius: 3em;

    padding: 3em 5em;
    
    margin-right: 5em;
    margin-left: 5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--lightblue);

    display: flex;
    flex-direction: row;
    text-align: center;

    gap: 0.3em;
}
  
nav li {
    border-radius: 1em;
    flex-grow: 1;
    float: left;
    background-color: rgb(0, 89, 162);
}
  
nav li a {
    font-family: Lato-bold;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    border-radius: 1em;
}
  
nav li:hover {
    background-color:rgb(0, 162, 255);
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid white;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    nav ul {
      flex-direction: column;
    }

    main {
        padding: 1em 2em;
        
        margin-right: 1em;
        margin-left: 1em;
    }

    h1{
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    .image_gallery {
        flex-wrap: wrap;
        float: center;
        justify-content: center;
    }

    .card_image{
    }
  }

.image_gallery {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.card_image {
    height: 25em;
    max-width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

fieldset {
    width: 100%
}

footer {

}