* {
    box-sizing: border-box;
}

:root{
    --lightblue: rgb(182, 235, 255);
}

@font-face {
    font-family: Lato;
    src: url(./fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-bold;
    src: url(./fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: ostrick-sans-black;
    src: url(./fonts/ostrich-sans/ostrich-black.ttf);
}

#title{
    font-family: ostrick-sans-black;
    font-size: 3em;
    padding: 0.3em;
    
    margin-right: 1.5em;
    margin-left: 1.5em;
    
    background-image: linear-gradient(
      -225deg,
      #1f1250 0%,
      #3d0f6f 14%,
      #ee1e63 28%,
      #f0e811 42%,
      #ee1e63 72%,
      #3d0f6f 86%,
      #1f1250 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 300% auto;
    color: #fff;
    background-clip: text;
    
    animation: textclip 20s linear infinite;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-reflect: below -50px linear-gradient(transparent, rgba(0,0,0,.1));
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

h2, h3, h4{
    font-family: ostrick-sans-black;
}

p, li, label, td{
    max-width: 150ch;
    font-family: Lato;
}

summary, legend, th{
    font-family: Lato-bold;
}

body {
    background-color: white;
    background-image: linear-gradient(var(--lightblue), white);
    background-repeat: no-repeat;
    
    transition-property: all;
}

main {
    background-color: white;
    border-radius: 3em;

    padding: 3em 5em;
    
    margin-right: 5em;
    margin-left: 5em;

    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
        margin-top: 4%;
        height: 120%; 
    }
    
    to { 
        opacity: 1;
        margin-top: 0%;
        height: 100%;
    }
  }

ol {
    list-style-type: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    text-align: center;

    gap: 0.3em;
    margin-right: 5em;
    margin-left: 5em;
}
  
nav li {
    border-radius: 1em;
    flex-grow: 1;
    float: left;
    background-color: rgb(0, 89, 162);
    
}
  
nav li a {
    font-family: Lato-bold;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    border-radius: 1em;
}
  
nav li:hover {
    background-color:rgb(0, 162, 255);
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid white;
    border-radius: 5px;
}

.image_gallery {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.card_image {
    height: 25em;
    max-width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

fieldset {
    width: 100%
}

footer {
    padding: 1em 10em;
}

@media (max-width: 1000px) {
    nav ul {
        flex-direction: column;
        margin-right: 1em;
        margin-left: 1em;
    }

    main {
        padding: 1em 2em;
        
        margin-right: 1em;
        margin-left: 1em;
        border-radius: 1em;
    }

    #title{
        margin-right: 0.5em;
        margin-left: 0.5em;
        border-radius: 1em;

        -webkit-box-reflect: none;
    }

    .image_gallery {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        padding: 1em 3em;
    }

    textarea {
        width: 100%;
    }
  }